@import './variable.scss';

#map{
    width: 94vw;
    background-color: white;
    margin: 1vh 3vw;
    height: 50vh;
    border-radius: 20px;
}

.map__cell{
    border-radius: 5px;
    background-color: $color-green;

    &--agua{
        background-color: $color-blue;
    }
}